/* 共通 */

html {
  height: 100%;
}

body {
  height: 100%;
  overscroll-behavior: none;
  color: #38444D;
  background-color: #E1E8ED;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

#container {
  height: 100%;
}

.main {
  height: 100%;
}

.keyboard {
  padding: 2px 5px;
  background-color: #E1E8ED;
  color: #10171E;
  border: 1px solid #E1E8ED;
  border-radius: 3px;
  box-shadow: 0 1px 2px #E1E8ED, inset 0 1px 2px #FFFFFF;
}

.btn-on {
  width: 45px;
  margin-right: 10px;
  color: #FFFFFF;
  background-color: #1E90FF;
  border-color: #1E90FF;
}

.btn-off {
  width: 45px;
  margin-right: 10px;
  color: #1E90FF;
  background-color: #FFFFFF;
  border-color: #1E90FF;
}

.border-none {
  border: none;
}

.border-top {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.drag {
  opacity: 0;
}

.handle {
  cursor: all-scroll;
}

/* サイドバー */

.sidebar {
  position: fixed;
  min-height: 100%;
  min-width: 50px;
  background-color: #1C2938;
  z-index: 10;
}

.sidebar-nav {
  position: absolute;
  display: block;
  width: 40px;
  list-style: none;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
}

.sidebar-top {
  top: 5px;
}

.sidebar-middle {
  top: 80px;
  bottom: 160px;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-middle::-webkit-scrollbar {
  display: none;
}

.sidebar-middle span {
  font-family: "arial black";
}

.timeline-name {
  position: fixed;
  display: none;
  padding: 5px 10px;
  margin: 0 0 0 5px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #323232;
}

.sidebar-bottom {
  bottom: 5px;
}

/* タイムライン */

.timeline-container {
  height: 100%;
  padding: 0;
  margin: 0 0 0 50px;
}

.timeline {
  height: 100%;
  width: 280px;
  display: inline-block;
  overflow-y: hidden;
  background-color: #FFFFFF;
}

.timeline:focus {
  outline: none;
}

.timeline .navbar {
  background-color: #FAFAFA;
  padding: 0 5px 0 8px;
  cursor: pointer;
}

.timeline .navbar:hover {
  background-color: #F0F0F0;
}

.timeline .navbar i {
  color: #657786;
}

.header {
  color: #38444D;
}

.setting-btn {
  padding: 4px 8px;
  margin-right: 2px;
}

.timeline .navbar-brand {
  font-weight: bold;
  font-size: 16px;
}

.timeline .spinner-border {
  margin: 4px 8px;
  height: 18px;
  width: 18px;
}

.setting-panel {
  background-color: #FFFFFF;
  border-left: 1px solid #DEE2E6;
  border-right: 1px solid #DEE2E6;
  overflow: hidden;
  transition-duration: 0.2s;
}

.setting-label {
  width: 200px;
  margin: 10px;
}

.btn-remove {
  background-color: #FFFFFF;
  margin: 10px 0;
  width: 90%;
}

/* ツイート */

.tweet-container {
  overflow-x: hidden;
  overflow-y: scroll;
  transition-duration: 0.2s;
}

.tweet-item:hover {
  background-color: #F5F5F5;
}

.tweet-item:focus {
  outline: none;
  background-color: rgba(0, 150, 255, 0.08);
}

.quoted {
  margin-bottom: 5px;
}

.icon {
  height: 25px;
}

.quoted .icon {
  height: 20px;
}

.username {
  color: #38444D;
  font-size: 14px;
}

.text-mute {
  color: #8899A6;
}

.quoted .text-mute {
  font-size: 11px;
}

.tweet-content {
  font-size: 13px;
}

.quoted .tweet-content {
  color: #657786;
  font-size: 12px;
}

.img-preview {
  height: 70px;
  width: 100%;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.video-preview {
  max-height: 200px;
  max-width: 100%;
  border-radius: 10px;
}

.action {
  height: 20px;
  font-size: 13px;
  color: #808080;
  cursor: pointer;
}

.retweeted {
  color: #17BF63;
}

.liked {
  color: #E0245E;
}

.active {
  animation-name: action-effect;
  animation-duration: 0.5s;
}

@keyframes action-effect {
  0% { transform: none }
  50% { transform: scale(1.2) }
  100% { transform: none }
}

/* モーダル */

#imageModal > .modal-dialog {
  max-width: 100%;
}

.img-full {
  max-height: 80vh;
  max-width: 80vw;
  margin: auto;
}

.timeline-list {
  overflow-y: scroll;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
