body {
  overscroll-behavior: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

.sidebar {
  position: fixed;
  min-height: 100%;
  min-width: 50px;
  background-color: rgb(50, 50, 50);
  z-index: 10;
}

.sidebar .sidebar-nav {
  position: absolute;
  display: block;
  width: 40px;
  list-style: none;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
}

.sidebar .sidebar-top {
  top: 5px;
}

.sidebar .sidebar-middle {
  top: 80px;
  bottom: 80px;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .sidebar-middle::-webkit-scrollbar {
  display: none;
}

.sidebar .sidebar-middle span {
  font-family: "arial black";
}

.sidebar .timeline-name {
  position: fixed;
  display: none;
  padding: 5px 10px;
  margin: 0 0 0 5px;
  font-weight: bold;
  color: white;
  background-color: rgb(50, 50, 50);
}

.sidebar .sidebar-bottom {
  bottom: 5px;
}

.timeline-container {
  padding: 0;
  margin: 0 0 0 50px;
}

.timeline {
  height: 100%;
  width: 280px;
  display: inline-block;
  overflow-y: hidden;
}

.timeline:focus {
  outline: none;
}

.timeline .navbar {
  background-color: rgb(250, 250, 250);
  padding: 0 5px 0 8px;
  cursor: pointer;
}

.timeline .navbar:hover {
  background-color: rgb(240, 240, 240);
}

.timeline .setting-btn {
  color: black;
  padding: 4px 10px;
}

.timeline .navbar-brand {
  font-weight: bold;
  font-size: 16px;
}

.timeline .tweet-container {
  height: -webkit-calc(100% - 40px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.timeline .spinner-grow {
  height: 50px;
  width: 50px;
  margin: 200px 0 0 100px;
}

.timeline .setting-panel {
  background-color: white;
  border: 2px solid rgb(200, 200, 200);
  animation-name: setting-effect;
  animation-duration: 0.3s;
}

@keyframes setting-effect {
  0% {opacity: 0; transform: translate3d(0, -30px, 0);}
  100% {opacity: 1; transform: translate3d(0, 0, 0);}
}

.timeline .setting-label {
  width: 200px;
  margin: 10px;
}

.timeline .btn-on {
  width: 45px;
  margin-right: 10px;
  color: white;
  background-color: dodgerblue;
  border-color: dodgerblue;
}

.timeline .btn-off {
  width: 45px;
  margin-right: 10px;
  color: dodgerblue;
  background-color: white;
  border-color: dodgerblue;
}

.timeline .tweet-item:hover {
  background-color: rgb(245, 245, 245);
}

.timeline .new-item {
  background-color: rgba(0, 150, 255, 0.05);
  animation-name: new-effect;
  animation-duration: 1.5s;
}

.timeline .new-item:hover {
  background-color: rgba(0, 150, 255, 0.1);
}

.timeline .tweet-item:focus {
  outline: none;
  background-color: rgba(0, 150, 255, 0.2);
}

@keyframes new-effect {
  0% {background-color: rgba(0, 150, 255, 0.3);}
  100% {background-color: rgba(0, 150, 255, 0.05);}
}

.timeline .tweet-content {
  font-size: 14px;
}

.timeline .icon {
  height: 30px;
}

.timeline .picture {
  height: 70px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.timeline .video {
  max-height: 200px;
  max-width: 100%;
}

.timeline .favorite {
  height: 20px;
  font-size: 13px;
}

.timeline .retweet {
  height: 20px;
  font-size: 13px;
}

.notice-container {
  position: fixed;
  top: 0;
  right: 0;
}

.notice-container .alert {
  margin: 0;
  opacity: 0;
  font-size: 20px;
  animation-name: alert-effect;
  animation-duration: 3.2s;
}

@keyframes alert-effect {
  0% {opacity: 0; transform: translate3d(30px, 0, 0);}
  10% {opacity: 1; transform: translate3d(0, 0, 0);}
  80% {opacity: 1; transform: translate3d(0, 0, 0);}
  100% {opacity: 0; transform: translate3d(30px, 0, 0);}
}

.modal img {
  max-height: 90vh;
  max-width: 90vh;
}
